<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="blog">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}

          <p class="blog-post-list">
            {% for section in ["Paper Expositions", "Probability, Spin Glasses and Complex Analysis", "Operator Algebras, Groups and Representations"] %}
              {% for post in site.posts %}
              
                <span class=“blog-category”>{{ section }}</span>
                <ul class=“blog-category-list”>
                {% if post.section == section %}
                  <li> <{% if post.draft != true %}
                  <span class="blog-post-date">{{ post.date | date: "%-m/%-d/%y" }}</span>
                  <a href="{{ post.url | replace:".html","" | prepend: site.baseurl }}" class="blog-post-title">
                    {{ post.title }}
                  </a>{% endif %}
                  </li>
                <br/>
                
                {% endif %}
                </ul>
                
              {% endfor %}

            {% endfor %}
          </p>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
