<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <p style="text-align: center; float:right; display: block">
              <img
                style="width:280px; margin-bottom: 10px"
                src="{{ page.profile_picture.src | absolute_url }}"
                alt="{{ page.profile_picture.alt }}"
                class="profile-pic"
              ></img>
              <div>Test</div>
          </p>

          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
